/client/node_modules
/build/data
/node_modules
/src/node_modules
/client/node_modules
/vagrant/virtio/.vagrant
/vagrant/virtualbox/.vagrant
vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/client/build
coordinator.yml
src/client.yml
/client/settings.yml
/src/build/
/build/linux64/
/build/win64/
/build/node_modules/
/build/package-lock.json
src/package-lock.json
src/logs
vagrant/hyperv/.vagrant
src/http-shell
