/client/node_modules
/build/data
/node_modules
/src/node_modules
/client/node_modules
/vagrant/.vagrant
vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/client/build
coordinator.yml
src/client.yml
/client/settings.yml
/src/build/
/build/build/
